@page "/departments"
@using Microsoft.AspNetCore.Authorization
@using SummerForum.Client.Services.ServiceInterfaces
@using SummerForum.DataTransferContract.DTOs
@using System.Security.Cryptography.X509Certificates
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin, User")]
@inject IDepartmentService DepartmentService
@inject IDiscussionService DiscussionService
@inject NavigationManager NavigationManager


<Container>
	<AuthorizeView Roles="Admin">
		<Button Margin="Margin.Is2.FromBottom" Color="Color.Primary" @onclick="AddNewDepartment">Add new department</Button>
	</AuthorizeView>
	<Virtualize Items="@DepartmentDtos">
		<Card>
			<CardBody>
				<CardTitle Size="3">
					@context.Description
				</CardTitle>
				<Button @onclick="() => ShowAllDiscussions(context.Id)" Color="Color.Primary" Margin="Margin.Is2.FromTop">
					See all discussions <Icon Name="IconName.ArrowRight"/>
				</Button>
			</CardBody>
		</Card>
	</Virtualize>
	@if (ShowDiscussionsByDepartment)
	{
		<Virtualize Items="DiscussionDtoList">
			<Card>
				<CardBody>
					<CardTitle>Discussion: @context.Id</CardTitle>
					<CardText>Description: @context.Description</CardText>
					<CardText>Status: @context.IsActive</CardText>
					<CardText>Department: @context.Department.Description</CardText>
				</CardBody>
			</Card>
		</Virtualize>
	}
</Container>




@code {

	private List<DepartmentDto> DepartmentDtos { get; set; } = new();
	private List<DiscussionDto> DiscussionDtoList { get; set; } = new();
	private bool ShowDiscussionsByDepartment;
	

	protected override async Task OnInitializedAsync()
	{
		DepartmentDtos.AddRange(await DepartmentService.GetManyAsync(0, 10));
		DiscussionDtoList.AddRange(await DiscussionService.GetManyAsync(0, 10));
	}

	private async Task ShowAllDiscussions(int departmentId)
	{
		var discussionsForDepartment = await DiscussionService.GetAllByDepartment(departmentId);

		DiscussionDtoList.Clear();
		DiscussionDtoList = discussionsForDepartment.ToList();
		ShowDiscussionsByDepartment = true;

	}

	private async Task AddNewDepartment()
	{
		NavigationManager.NavigateTo("Admin/AddDepartment");
	}

}
