@page "/replies"
@using SummerForum.Client.Services
@using Microsoft.AspNetCore.Authorization
@using SummerForum.DataTransferContract.DTOs
@rendermode InteractiveServer
@inject ReplyService ReplyService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin, User")]

<h3>Replies</h3>

<Container>
<Virtualize Items="@ReplyDtos">
	<Card>
		<CardBody>
			<CardTitle Size="3">
				@context.Text
			</CardTitle>
			<CardSubtitle>
				Post id: @context.Post
			</CardSubtitle>
			<p>Replied by user id: @context.RepliedBy, date: @context.RepliedAt</p>
			<CardText>
				@context.Text
			</CardText>
		</CardBody>
	</Card>
</Virtualize>
</Container>

@code {
	public List<ReplyDto> ReplyDtos { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		ReplyDtos.AddRange(await ReplyService.GetManyAsync(0, 10));
	}
}
